@import "tailwindcss";

@theme {
  --color-neon-pink: #ec4899;
  --color-neon-lime: #10b981;
}

body {
  background-color: #030712;
}

/* Ocultar barra de scroll para una vista móvil limpia */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}